.btn {
    background-color: #17252a;
    border: none;
}

.btn:hover {
    background-color: #FEFFFF;
    color: #17252a;
}

.btn:active {
    color: #17252a;
}

.btn-secondary {
    border-color: none;
}